<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Backstage</title>
        <link rel="stylesheet" href="../content/css/toy.css">
        <link rel="stylesheet" href="../content/css/backstage.css">
        <link rel="stylesheet" href="../content/css/rest.css">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>

        <div class="container-fluid p-0">
            <input type="checkbox" id="menuControl">
            <div class="header-content">
                <h3>indexTitle</h3>
                <div class="header-menuControl">
                    <label for="menuControl" class="menuBtn">
                        <img class="menuBtnImg" src="../content/images/img/btn/BTN.png">
                    </label>
                    <nav>
                        <a href="#"">會員專區</a>
                        <a href=" #">前往購買</a>
                        <a href=" #">前往購買</a>
                        <a href=" #">前往購買</a>
                    </nav>
                </div>
            </div>
            <div class="main-content">
                <div class="main-boxAll">
                    <diV class="box">
                        <div class="box-user">
                            <h3><a href="#" id="user">會員資料</a></h3>
                            <div>
                                {001}
                                {001}
                                {001}
                            </div>
                        </div>
                    </diV>
                    <diV class="box">
                        <div class="box-user">
                            <h3><a href="#" id="instock">庫存現貨</a></h3>

                            <div>
                                {001}
                                {001}
                                {001}
                            </div>
                        </div>
                    </diV>
                    <diV class="box">
                        <div class="box-user">
                            <h3><a href="#" id="goldflow">金流狀況</a></h3>

                            <div>
                                {001}
                                {001}
                                {001}
                            </div>

                        </div>
                    </diV>
                </div>

                <div class="main-imgAll">

                    <div class="img">
                        <img src="../content/images/img/logo/00566.jpg">
                    </div>
                    <div class="img">
                        <img src="../content/images/img/logo/00567.jpg">

                    </div>
                    <div class="img">
                        <img src="../content/images/img/logo/00568.jpg">

                    </div>
                </div>
            </div>
        </div>
        <!-- 會員資料 -->
        <div class="user-data" id="down">

        </div>



        <!-- 庫存現貨 -->

        <div class="instock-data">



        </div>



        <!-- 金流狀況 -->

        <div class="goldflow-data">

        </div>



        <script src="../content/js/backstage.js"></script>
    </body>

</html>