<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>彈窗登入頁面</title>
        <link rel="stylesheet" href="../content/css/toy.css">
        <link rel="stylesheet" href="../content/css/rwdTestSingIn.css">
        <link rel="stylesheet" href="./src/content/css/reset.css">


        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    </head>

    <body>
        <div class="popovers">
            <div class="popovers-Box">
                <div id="a01">
                    <div class="inputCBox">
                        <button id="close">X</button>
                        <div class="titleContent">
                            <h3 class="title">wlecome 請輸入帳號密碼</h3>
                        </div>
                        <div class="inputContent">
                            <input class="email" type="text" placeholder="請輸入電子信箱 E-mail" />
                            <input class="password" type="text" placeholder="請輸入6-15碼英數混和密碼" />
                            <p>英文字母需區分大小寫</p>
                            <div class="verification">
                                <input class="sixnumber" type="text" placeholder="請輸入右圖6碼數字" />
                                <img class="sixnumberIMG" src="../content/images/img/btn/777.jpg">
                            </div>
                        </div>
                        <div class=" buttonContent">
                            <button class="button" type="button">確認</button>
                            <label>
                                <input class="checkbox" type="checkbox"> 記住我的帳號
                            </label>
                        </div>
                        <div class="textContent">
                            <div class="text">
                                <a href="#">免費註冊</a>
                                <a href="#">忘記密碼</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </body>

</html>